.wrap {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.label {
  color: lightgrey;
  margin-bottom: 5px;
}
.input {
  width: 300px;
  height: 40px;
  border: 2px solid black;
  outline: none;
  padding-left: 10px;
  transition: 0.2s;
  color: black;
}
.wrap:hover .input,
.input:focus,
.input:active {
  color: rgb(190, 123, 0);
  border: 2px solid rgb(190, 123, 0);
}
